<div class="login-container">
    <div *ngIf="!isRegistering; else registerTemplate">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
        <h2>Login</h2>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" formControlName="username"
                placeholder="Enter your username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <div class="input-icon-container">
                <input type="password" id="password" name="password" formControlName="password"
                    placeholder="Enter your password">
                <span class="password-toggle-icon">
                    <i class="fa-solid fa-eye" (click)="togglePasswordVisibility()"></i>
                </span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <button type="button" class="btn btn-secondary toggle-register"
        (click)="toggleRegistration()">Back to Register</button>
    </form>
</div>
<ng-template #registerTemplate>
    <!-- Registration form -->
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="login-form">
        <h2>Register</h2>
        <div class="form-group">
      <label for="Username">Username:</label>
      <input type="text" id="Username" formControlName="Username" placeholder="Enter your username" required>
    </div>
  
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" placeholder="Enter your email" required>
      </div>

      <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" placeholder="Enter your password" required>
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
      <button type="button" class="btn btn-secondary toggle-register" 
      (click)="toggleRegistration()">Back to Login</button>
    </form>
  </ng-template>
</div>