.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .login-form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: black;
    h2 {
        color:black;
    }
  }
  
  .form-group {
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
  }

  .input-icon-container {
      display: flex;
      flex-direction: row;
      border: 1px solid #ccc;
      border-radius: 5px;
      align-items: center;
      overflow: hidden;
  }

  .input-icon-container input[type="password"] {
      outline: none;
      border: none;
      background: none;
      font-size: 1em;
      padding: .5em;
      color: inherit;
      flex: auto 1 1;
      width: 100%;
      background: none;
      background-color: transperant;
  }

  .fa-eye {
      padding: 10px;
      cursor: pointer;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }