
  .pagination-active-color {
    background-color: blue !important; /* Change to your desired active page color */
    color: white !important; /* Text color for active page */
  }
  .d-none {
    display: none !important;
  }