/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgba(0, 0, 0, 0.623) !important;
    background-image: linear-gradient(rgb(0, 0, 0), rgba(14, 11, 11, 0.343)) !important;
    height: 800px;
    color: #fff !important;
    background: fixed;
}