<!-- Side nav bar -->
<div class="container">
    <div [ngStyle]="{ width: getSidebarWidth() }" class="sidebar">
      <!-- Sidebar content -->
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
    </div>
    <div [ngStyle]="{ 'margin-left': getFlexContainerMargin() }" class="flex-container">
      <div class="justify-content-md-center">
        <div class="col-md-12">
          <app-population-chart></app-population-chart>
        </div>
      </div>
        
      <!-- Flex container content -->
      <div class="card">
        <app-continent-chart></app-continent-chart>
      </div>
        <div class="card">
            <app-currency-chart></app-currency-chart>
        </div>
        <div class="card">
          <div *ngIf="isLoading">
            <!-- Loader template -->
            <div class="loadImage"></div>
          </div>
            <!-- Show <app-un-member-chart> when isLoading is false -->
              <ng-container *ngIf="!isLoading">
                <app-un-member-chart></app-un-member-chart>
              </ng-container>
        </div>
        <div class="card">
            <app-independent-countries></app-independent-countries>
        </div>
    </div>
  </div>